{#
magogo/layout.html
~~~~~~~~~~~~~~~~~
Adapted from Agogo style
#}
{%- extends "basic/layout.html" %}

{% block header %}
<div class="header-wrapper" role="banner">
	<div class="header">
		
		{%- block headertitle %}
		<div class="headertitle"> {{_('GEMC') }} </div>
		{%- endblock %}
		<p class="logo">
			<a href="{{ pathto(master_doc) }}">
				<img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
			</a>
		</p>
		
		<div class="rel" role="navigation" aria-label="related navigation">
			{% block rootrellink %}
			<a href="{{ pathto('index') }}">                       home</a>&nbsp;|
			<a href="{{ pathto('examples/examples') }}">           examples</a>&nbsp;|
			<a href="{{ pathto('downloads') }}">                   downloads</a>&nbsp;|
			<a href="{{ pathto('gallery/gallery') }}">             gallery</a>&nbsp;|
			<a href="{{ pathto('documentation/documentation') }}"> documentation</a>
			{% endblock %}
		</div>
		
		
	</div>
</div>
{% endblock %}

{% block content %}
<div class="content-wrapper">
	<div class="content">
		<div class="document">
			{%- block document %}
			{{ super() }}
			{%- endblock %}
		</div>
		<div class="sidebar">
			{%- block sidebarsearch %}
			<div role="search">
				<h3 style="margin-top: 1.5em;">{{ _('Search') }}</h3>
				<form class="search" action="{{ pathto('search') }}" method="get">
					<input type="text" name="q" />
					<input type="submit" value="{{ _('Go') }}" />
					<input type="hidden" name="check_keywords" value="yes" />
					<input type="hidden" name="area" value="default" />
				</form>
				<p class="searchtip" style="font-size: 90%">
				{{ _('Search within the gemc website.') }}
				</p>
			</div>

			{%- endblock %}
			<br>
			
			<br>
		{%- block latestnews %}
		{% if pagename == 'index' %}
			<h3>{{ _('Latest News') }}<br></h3>
<!--			<object height="400" type="text/plain" data="changeLog.txt" border="0" ></object>-->
			<object type="text/html" height="350" data="{{ pathto('latestNews') }}" border="0" ></object>
			<br> <br> <br>
			
			<br>
			<h3>{{ _('Quickstart') }}<br></h3>
			<a href="">download gemc</a><br>
			<a href="">build a simple detector</a> <br>
			<br>
			
			<br>
			<h3>{{ _('About') }}<br></h3>
			<a href="">gemc: the origin</a><br>
			<a href="">email Maurizio</a>

		{% endif %}
		{% if pagename.startswith("documentation") %}
			<h3>{{ _('Related') }}<br></h3>
			<object type="text/html" height="450" data="{{ pathto('documentation/related') }}" border="0" ></object>
		{% endif %}
		
		
		
		{% if pagename.startswith("contributing") %}
			<h3>{{ _('Shortcuts') }}<br></h3>
			<object type="text/html" height="450" data="{{ pathto('contr') }}" border="0" ></object>
		{% endif %}
		
			
		{%- endblock %}
			</div>
		<div class="clearer"></div>
	</div>
</div>
{% endblock %}

{% block footer %}
<div class="footer-wrapper">
	<div class="footer">
		<div class="center">
			{{ _('2016 GEMC - Maurizio Ungaro') }}
		</div>
		<div class="clearer"></div>
	</div>
</div>
{% endblock %}

{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
